<html>
  <body>
    <% if(!files || files.length == 0) { %>
    <div class="no-file-message">
      <p>It appears you have no files here, would you like upload some</p>
      <a href="/file/upload"><button>Upload</button></a>
    </div>
    <% } else { %>
    <p>Your Files</p>
    <div class="files">
      <% for(const file of filePaths) { %>
      <div class="file-info">
        <p>file name: <%= file.name %></p>
        <div>
          <a href="/download/<%= file.id %>">
            <img src="<%= downloadSrc %>" alt="download-file" />
          </a>
        </div>
        <div>
          <a href="/file/delete/<%= file.id %>">
            <img src="<%= deleteSrc %>" alt="delete-file" />
          </a>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </body>
</html>
